* {
	margin:0;
	padding:0;
}

html, body, table {
	font: normal 12px/1.3 "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
	color:#FFFFFF;
}

html, body {
	background:url("../images/bg.jpg") no-repeat #000000;
	background-position: center -240px;
	background-attachment: scroll;
}

ul {
	list-style-type:none;
}

table { border-spacing:0; }
table .row0 { background:#171614; }
table .row1 { background:#12110F; }
table .row0:hover, table .row1:hover { background:#090908; }
table .row0 td, table .row1 td { border-style:solid; border-color:#28241D; border-width:1px; }

th { text-align:left; }
td { vertical-align:middle; }
td.value, th.value,
td.sum, th.sum { text-align:right; }

.indent { margin-left:20px; }

.help { cursor:help; }

.button {

	color:#333333;

	font-weight:bold;
	font-variant:small-caps;

	border:1px solid #707070;
	border-radius: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;

	text-align:center;
	vertical-align:middle;
	
	text-shadow: 1px 1px 0px rgba(255,255,255,.5);
	
	-webkit-box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);    
	-moz-box-shadow:    0px 1px 3px 0px rgba(0, 0, 0, 2);	
	box-shadow:  0px 1px 3px 0px rgba(0, 0, 0, .2);  

	background-color:#F2F2F2;
	background-repeat:repeat-y;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#F2F2F2), to(#CFCFCF));
	background-image:-moz-linear-gradient(top, #F2F2F2, #CFCFCF);
	background-image:-ms-linear-gradient(top, #F2F2F2, #CFCFCF);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #F2F2F2), color-stop(100%, #CFCFCF));
	background-image:-webkit-linear-gradient(top, #F2F2F2, #CFCFCF);
	background-image:-o-linear-gradient(top, #F2F2F2, #CFCFCF);
	background-image:linear-gradient(top, #F2F2F2, #CFCFCF);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='#CFCFCF', GradientType=0);
	
}
.button:hover {
	cursor:pointer;
	background:#999999;
	color:#000000;
}

.window {
	position:absolute; z-index:100; background:#111111; border:2px solid #333333; left:0; right:0; margin:auto;
	-webkit-box-shadow: 0px 0px 200px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 200px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 200px 0px rgba(0, 0, 0, 1);
}
.window .titlebar { position:absolute; top:0; left:0; width:100%; background:#333333; height:30px; }
.window .icon { display:block; height:30px; width:auto; margin:0 5px 0 5px; float:left; }
.window .title { padding:4px 0 0 5px; display:block; font-size:16px; font-variant:small-caps; text-shadow:black 1px 1px; color:#FFDAB7; }
.window .button.close { position:absolute; width:30px; top:0; right:0; border:2px solid #770000; background:#AA0000; color:#CCCCCC; }
.window .button.close:hover { background:#FF0000; border-color:#CC0000; color:#FFFFFF; }
.window .content { margin-top:30px; padding:10px; }

fieldset { float:left; padding:8px; background:#303030; border:0; border-radius:5px; margin:5px; }

select { width:130px; background:#000000; color:#FFFFFF; border:1px solid #606060; }
select.small { width:70px; }
select optgroup option { padding-left:20px; }

.checkbox { display:block; }

input[type="text"] { width:130px; }
input[type="text"].small { width:40px; }

.combobox { width:150px; height:42px; position:relative; }
.combobox .entry { height:42px; white-space: nowrap; padding-right:10px; overflow:hidden; }
.combobox .entry .icon { display:inline-block; vertical-align:middle; background-color:#555555; }
.combobox li.entry .icon { background-color:#333333; }
.combobox .popup { display:none; min-width:100%; position:absolute; top:42px; left:-1px; z-index:101; }
.combobox, .combobox .popup { background:#000000; border:1px solid #666666; }
.combobox .id { display:none; }
.combobox .entry:hover { background:#888888; cursor:default; }
.combobox .entry:hover .icon { background-color:#666666; }
.combobox.small { width:80px; }

img { border:none !important; }

a { color:#AAAAAA; text-decoration:none; }
a:hover { color:#CCCCCC; text-decoration:none; }
		
#content {
	/*display:none;*/
	position:relative;
	min-width:998px;/*1108px;*/
	width:998px;/*1108px;*/
	margin:0 auto;
}

#header {
	position:relative;
	width:998px;/*1108px;*/ height:130px;
	margin:0 auto 0 auto;
	/*background:url("../images/title.png") 0 15px no-repeat;*/
}
#logo { position:absolute; left:0; top:15px; }
/*#title, #subtitle {
	display:none;
}*/

#mainnavi {
	position:relative;
	width:998px;/*1108px;*/ height:40px;
	margin:0 auto 0 auto;
	background:url("../images/mainnavi.png");
}
#mainnavi ul li  { float:left; background:#444444; margin-right:5px; border-style:solid; border-width:2px 2px 0 2px; border-color:#000000; }
#mainnavi ul li.active {
	background:#101010; 
	-webkit-box-shadow: 0px 0px 15px 0px rgba(255, 255, 255, 1);
	-moz-box-shadow:    0px 0px 15px 0px rgba(255, 255, 255, 1);
	box-shadow:         0px 0px 15px 0px rgba(255, 255, 255, 1);
}
#mainnavi ul li a { color:#CCCCCC; font-weight:bold; display:block; height:28px; padding:10px 20px 0 20px; }
#mainnavi ul li.active a { color:#FFFFFF; }
#mainnavi ul li a:hover { color:#FFFFFF; }

.language { position:absolute; bottom:0; right:0; background:#000000; padding:4px; }
.socialmedia { text-align:right; width:60px; position:absolute; bottom:0; right:0; }

/*.st_facebook, .st_twitter, .st_googleplus, .st_reddit, .stButton { width:20px; }
*/
/*.chicklets { display:none; width:0; }*/

#support { text-align:center; height:54px; padding:3px; }

.infobox {
	position:relative;
	display:block;
}
.infobox .infotext { color:#FFFFFF; position:absolute; text-align:center; width:80%; top:20%; left:10%; }

#infoboxheader {
	position:absolute;
	right:0;
	top:12px;
	width:728px;
	height:90px;
	background:#101010;
	padding:5px;
	margin:0;
	border:1px solid #000000;
}

#infoboxright {
	/*position:absolute;
	top:200px;
	left:1050px;
	width:120px;
	height:600px;*/
}

#infoboxsquare {
	/*background:#171614;*/
	/*background:#000000;
	text-align:center;*/
	width:250px;
	height:250px;
	/*margin:10px 5px 10px 5px;
	padding:10px;*/
}

#infoboxmediumrectangle { height:250px; }

#infoboxfooter {
	float:none;
	width:728px;
	height:90px;
	margin-bottom:20px;
}

#statsbase {
	position:absolute;
	top:20px;
	right:0;
	width:200px;
	text-align:justify;
	padding:10px;
	background:#101010;
	border:1px solid #000000;
}

#selection {
	clear:both;
	position:relative;
	width:984px;/*1094px;*/
	/*height:100px;*/
	height:auto;
	padding-left:10px;
	margin:0 auto;
	font-variant:small-caps;
	font-size:14px;
	background:#101010;
	border-width:0 2px 0 2px;
	border-style:solid;
	border-color:#000000;
}

#charselection {
	height:90px;
	float:left;
	padding:10px 0 0 20px;
}
#charselection a span {
	background:url("../images/class.png") no-repeat;
}

#weaponselection {
	height:90px;
	float:left;
	padding:10px 0 0 0;
}
#weaponselection a span {
	background:url("../images/weaponsetup.png") no-repeat;
}

#weaponselection .weaponsetup {
	display:none;
}

#displayselection {
	height:90px;
	float:left;
	padding:10px 0 0 0;
}
#displayselection a span {
	background:url("../images/displaystats.png") no-repeat;
}

#layoutselection {
	height:90px;
	float:left;
	padding:10px 0 0 0;
}
#layoutselection a span {
	background:url("../images/layout.png") no-repeat;
}

#itemtypeselection {
	padding:5px;
}
#itemtypeselection a { padding:2px; margin:2px; color:#FFFFFF; background-color:#360E00; border:1px solid #62351F; }
#itemtypeselection a.active { background-color:#666666; border-color:#999999; }

#startbuttonarea {
	height:73px;
	float:left;
	padding:27px 0 0 0;
}

#startbutton {
	width:50px;
	height:50px;
}

.bigarrow {
	width:32px; height:100px;
	float:left;
	background:url("../images/bigarrow.png") center no-repeat;
}

#presentation {
	display:block;
	clear:both;
	position:relative;
	width:994px;/*1104px;*/
	min-height:500px;
	margin:0 auto 0 auto;
	background:#101010;
	border-width:0 2px 0 2px;
	border-style:solid;
	border-color:#000000;
}

#mainnavi ul li, #selection, #presentation, .itempreview, .boxshadow, #statsbase, .language, .category {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 15px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 15px 0px rgba(0, 0, 0, 1);
}

#footer {
	position:relative;
	width:728px;
	margin:0 auto 0 auto;
	padding:20px 0 20px 0;
	color:#FFFFFF;
	background:#000000;
}

#footer_left {
	float:left;
	width:220px;
	padding-right:20px;
}

#footer_right {
	float:left;
	width:468px;
}

#footer_left div, #footer_right div {
	margin-bottom:20px;
}

#tooltip {
	position:fixed;
	top:0;
	left:;
	z-index:102;
}


			
/* icons */
.icon { display:block; }
/* class */
.icon.char { width:42px; height:42px; background:url("../images/class.png"); }
.icon.char.barb { background-position:0 0; }
.icon.char.crus { background-position:-42px 0; }
.icon.char.dh { background-position:-84px 0; }
.icon.char.monk { background-position:-126px 0; }
.icon.char.wd { background-position:-168px 0; }
.icon.char.wiz { background-position:-210px 0; }
/* weaponsetup */
.icon.weaponsetup { width:42px; height:42px; background:url("../images/weaponsetup.png"); }
.icon.weaponsetup.barb_twohanded,
.icon.weaponsetup.crus_twohanded,
.icon.weaponsetup.wiz_twohanded,
.icon.weaponsetup.wd_twohanded,
.icon.weaponsetup.monk_twohanded { background-position:-42px 0; }
.icon.weaponsetup.monk_dualwielding,
.icon.weaponsetup.barb_dualwielding { background-position:-84px 0; }
.icon.weaponsetup.wiz_crossbow,
.icon.weaponsetup.wd_crossbow { background-position:-126px 0; }
.icon.weaponsetup.wiz_onehandedsource { background-position:-168px 0; }
.icon.weaponsetup.wd_onehandedmojo { background-position:-210px 0; }
.icon.weaponsetup.dh_crossbowquiver { background-position:-252px 0; }
.icon.weaponsetup.dh_dualhandcrossbows { background-position:-294px 0; }
.icon.weaponsetup.dh_handcrossbowshield { background-position:-336px 0; }
.icon.weaponsetup.dh_handcrossbowquiver { background-position:-378px 0; }
.icon.weaponsetup.crus_twohandedshield { background-position:-420px 0; }
/* statsdisplay */
.icon.statsdisplay { width:42px; height:42px; background:url("../images/displaystats.png"); }
.icon.statsdisplay.rare { background-position:0 0; }
.icon.statsdisplay.legendary { background-position:-42px 0; }
.icon.statsdisplay.legendary_specialaffixes { background-position:-84px 0; }
/* statslayout */
.icon.statslayout { width:42px; height:42px; background:url("../images/layout.png"); }
.icon.statslayout.slots { background-position:0 0; }
.icon.statslayout.table { background-position:-42px 0; }

/* paperdoll */
.paperdoll { position:absolute; width:696px;/*806px;*/ height:600px; top:15px; left:280px; }
.paperdoll .charname, .paperdoll .weaponsetup {
	position:absolute;
	left:183px;/*238px;*/ 
	width:332px;
	text-align:center;
	font-variant:small-caps;
	z-index:1;
}
.paperdoll .charname { color:#FFDAB7; top:46px; font-size:42px; }
.paperdoll .weaponsetup { color:#FFFFFF; top:90px; font-size:12px; }

/* slots */
.paperdoll .gear-slots { position:absolute; width:305px; height:425px; left:194px;/*249px;*/ top:140px; }
.gear-slots .slot { position:relative; display:block; outline:none; text-align:center; width:66px; height:88px; }
.paperdoll .gear-slots .slot { position:absolute; }
.gear-slots .slot .slot-link { display:block; height: 86px; width: 64px; margin:1px; }
.gear-slots .slot .image { display: block; width: 100%; height: 100%; overflow:hidden; }
.gear-slots .slot .image img { position: relative; }
.gear-slots .slot .d3-icon { position: absolute; top: 0; left: 0; display: block }
.gear-slots .slot .d3-icon .icon-item-inner { display: block; height: 84px; width: 62px; }
.gear-slots .slot .remove { top: 2px; left: 2px; }
.gear-slots .slot .goto { top: 18px; left: 2px; }
.gear-slots .slot.equipped:hover a { display: block; }
.gear-slots .slot .sockets-wrapper { width:100%; height:100%; display:block; position:absolute; top:0; left:0; opacity:0.8 }
.gear-slots .slot a:hover .sockets-wrapper { opacity:1 }
.gear-slots .slot .sockets-wrapper .sockets-align { height: 88px; width: 66px; display:table-cell; vertical-align:middle }
.gear-slots .slot .sockets-wrapper .socket { display:inline-block; vertical-align:middle; width:32px; height:32px; background:url(../../../images/profile/hero/skill-overlays.png) 0 -71px no-repeat; text-align:center; position:relative; left:1px; }
.gear-slots .slot .sockets-wrapper .socket .gem { margin:6px auto 0;  width:20px; height:20px }
.gear-slots .d3-icon-item { box-shadow: 0 0 9px rgba(0,0,0,0.09), 0 2px 5px rgba(0,0,0,0.5); }
.followers .d3-icon-item, .followers .icon-item-gradient, .followers .icon-item-inner { border-radius:3px; }
.gear-slots .item-dye { display:block; position:absolute; left:-5px; bottom:-1px; width:21px; height:21px; background:url(../../images/profile/hero/bg-dye.png) 0 -1px no-repeat; }
.gear-slots .item-dye img { width:19px; height:19px; }
.gear-slots .item-transmog { display:block; position:absolute; top:0; right:0; padding:4px; }
.gear-slots .empty-icon { cursor:help; box-shadow:none; border:none; padding:1px; }
.gear-slots .empty-icon .icon-item-inner { box-shadow:none; border:0; padding:1px; }

/* slot sizes */
.gear-slots .slot.head,
.gear-slots .slot.head .sockets-wrapper .sockets-align { width: 66px; height: 66px; }
.gear-slots .slot.head .slot-link { width:64px; height:64px }
.gear-slots .slot.head .d3-icon .icon-item-inner { width: 62px; height: 62px; }

.gear-slots .slot.torso,
.gear-slots .slot.torso .sockets-wrapper .sockets-align { width: 82px; height: 115px; }
.gear-slots .slot.torso .slot-link { width:80px; height:113px }
.gear-slots .slot.torso .d3-icon .icon-item-inner { width: 78px; height: 111px; }

.gear-slots .slot.neck,
.gear-slots .slot.neck .sockets-wrapper .sockets-align { width: 56px; height: 56px; }
.gear-slots .slot.neck .slot-link { width:54px; height:54px }
.gear-slots .slot.neck .d3-icon .icon-item-inner { width: 52px; height: 52px; }

.gear-slots .slot.waist,
.gear-slots .slot.waist .sockets-wrapper .sockets-align { width: 82px; height: 34px; }
.gear-slots .slot.waist .slot-link { width:80px; height:32px }
.gear-slots .slot.waist .d3-icon .icon-item-inner { width: 78px; height: 30px; }

.gear-slots .slot.leftfinger,
.gear-slots .slot.rightfinger,
.gear-slots .slot.leftfinger .sockets-wrapper .sockets-align,
.gear-slots .slot.rightfinger .sockets-wrapper .sockets-align { width: 42px; height: 42px; }
.gear-slots .slot.leftfinger .slot-link,
.gear-slots .slot.rightfinger .slot-link { width:40px; height:40px }
.gear-slots .slot.leftfinger .d3-icon .icon-item-inner,
.gear-slots .slot.rightfinger .d3-icon .icon-item-inner { width: 38px; height: 38px; }

.gear-slots .slot.offhand .disabled-off-hand { display:block; width: 66px; height: 130px; background:url(../../../images/profile/hero/disabled-offhand.gif) }
.gear-slots .slot.offhand .disabled-off-hand .image { opacity:0.3; }
.gear-slots .slot.offhand .disabled-off-hand .image img { top:1px; }

.gear-slots .slot.offhand,
.gear-slots .slot.mainhand,
.gear-slots .slot.offhand .sockets-wrapper .sockets-align,
.gear-slots .slot.mainhand .sockets-wrapper .sockets-align { width: 66px; height: 130px; }
.gear-slots .slot.mainhand .slot-link,
.gear-slots .slot.offhand .slot-link { width:64px; height:128px }
.gear-slots .slot.offhand .d3-icon .icon-item-inner,
.gear-slots .slot.mainhand .d3-icon .icon-item-inner { width: 62px; height: 126px; }

.gear-slots .slot.templarrelic,
.gear-slots .slot.scoundreltoken,
.gear-slots .slot.enchantressfocus,
.gear-slots .slot.templarrelic .d3-icon .icon-item-inner,
.gear-slots .slot.scoundreltoken .d3-icon .icon-item-inner,
.gear-slots .slot.enchantressfocus .d3-icon .icon-item-inner { width: 64px; height: 64px; }

/* slot image fixes */
.gear-slots .slot.head .image img { top: -31px; }
.gear-slots .slot.shoulders .image img { top: -20px; }
.gear-slots .slot.neck .image img { width: 52px; height: 52px; top:1px; }
.gear-slots .slot.torso .image img { top: -25px; left:-1px; }
.gear-slots .slot.waist .image img { top: -15px; }
.gear-slots .slot.hands .image img,
.gear-slots .slot.wrists .image img { top: -20px; }
.gear-slots .slot.leftfinger .image img,
.gear-slots .slot.rightfinger .image img { top: -12px; left: -12px; }
.gear-slots .slot.legs .image img { top: -20px; }
.gear-slots .slot.feet .image img { top: -20px; }
.gear-slots .slot.head .image,
.gear-slots .slot.shoulders .image,
.gear-slots .slot.feet .image,
.gear-slots .slot.wrists .image,
.gear-slots .slot.hands .image { overflow:visible; }
.gear-slots .slot.shoulders { clip:rect(-19px, 76px, 99px, -10px); clip:rect(-19px 76px 99px -10px); }
.gear-slots .slot.hands { clip:rect(-19px, 76px, 100px, -10px); clip:rect(-19px 76px 100px -10px); }

/* slot positioning */
.paperdoll .gear-slots .slot.head { z-index:12; top: 4px; left: 121px; }
.paperdoll .gear-slots .slot.shoulders { z-index:10; top: 28px; left: 39px; }
.paperdoll .gear-slots .slot.neck { z-index:1; top: 48px; right: 44px; }
.paperdoll .gear-slots .slot.torso { z-index:13; top: 74px; left: 113px; }
.paperdoll .gear-slots .slot.hands { z-index:9; top: 127px; left: 13px; }
.paperdoll .gear-slots .slot.wrists { z-index:3; top: 127px; right: 10px; }
.paperdoll .gear-slots .slot.waist { z-index:4; top: 193px; left: 113px; }
.paperdoll .gear-slots .slot.legs { z-index:11; bottom: 106px; left: 121px; }
.paperdoll .gear-slots .slot.feet { z-index:8; bottom: 14px; left: 121px; }
.paperdoll .gear-slots .slot.offhand { z-index:5; bottom: 13px; right: 10px; }
.paperdoll .gear-slots .slot.mainhand { z-index:6; bottom: 13px; left: 13px; }
.paperdoll .gear-slots .slot.leftfinger { z-index:2; bottom: 156px; left: 25px; }
.paperdoll .gear-slots .slot.rightfinger { z-index:7; bottom: 156px; right: 22px; }
.paperdoll .gear-slots .slot.templarrelic { z-index:1; top: 450px; left: 40px; }
.paperdoll .gear-slots .slot.scoundreltoken { z-index:1; top: 450px; left: 120px; }
.paperdoll .gear-slots .slot.enchantressfocus { z-index:1; top: 450px; left: 200px; }

/* slot item quality */
.gear-slots .slot:hover .image { background: rgba(0, 0, 0, .20); }
.gear-slots .slot.icon-active .image { background: rgba(0, 0, 0, .50); }
.gear-slots .slot.slot-disabled { cursor: default; background: url("../../../images/tool/gear-calculator/slot-disabled.jpg") 50% 50% no-repeat; }
.gear-slots .slot.slot-disabled .image { background: none; }
.gear-slots .slot.is-quiver { background: url("../../../images/tool/gear-calculator/slot-quiver.jpg") 50% 50% no-repeat; }

/* gear-lines */
.gear-lines { width:332px; height:600px; position:absolute; top:0; left:182px;/*237px;*/ background:url(../images/gear_lines.png); }
/*.gear-lines { width: 332px; height: 418px; position: absolute; top: 154px; left: 237px; }
.gear-lines .slot { position: absolute; border-style:solid; border-color:#FFDAB7; border-width:1px 0 0 0; }
.gear-lines .slot.head { width: 134px; height: 1px; top: 0; right: 0; }
.gear-lines .slot.waist { width: 124px; height: 12px; top: 196px; right: 0; border-width:0 0 1px 0; }
.gear-lines .slot.torso { width: 125px; height: 24px; top: 84px; left: 0; border-width:0 0 1px 0; }
.gear-lines .slot.shoulders { width: 51px; height: 1px; top: 24px; left: 0; }
.gear-lines .slot.neck { width: 59px; height: 1px; top: 69px; right: 0; }
.gear-lines .slot.leftfinger { width: 37px; height: 1px; top: 231px; left: 0; }
.gear-lines .slot.rightfinger { width: 37px; height: 28px; top: 241px; right: 0; border-width:1px 1px 0 0; }
.gear-lines .slot.hands { width: 25px; height: 1px; top: 162px; left: 0; }
.gear-lines .slot.wrists { width: 25px; height: 1px; top: 138px; right: 0; }
.gear-lines .slot.legs { width: 133px; height: 35px; top: 261px; left: 0; border-width:1px 0 0 1px; }
.gear-lines .slot.feet { width: 166px; height: 21px; bottom: 0; right: 0; border-width:0 0 1px 1px; }
.gear-lines .slot.mainhand { width: 25px; height: 1px; top: 370px; left: 0; }
.gear-lines .slot.offhand { width: 25px; height: 1px; top: 334px; right: 0; }*/


/* slot stats */
.gear-stats { position: absolute; top:0; left:0; width: 100%; height:100%; }
.gear-stats .slot {
	position: absolute;
	overflow:hidden; z-index:20;
	background:#4E3E2D;
	/*min-width:235px; max-width:235px;*/
	min-width:180px; max-width:180px;
	min-height:86px; max-height:86px;
	border:1px solid #AAAAAA;
}
.gear-stats .slot:hover {
	background:#6B5846;
	max-height:none; max-width:none;
	overflow:visible; z-index:21;
	border-color:#FFFFFF;
	-webkit-box-shadow: 0px 0px 150px 0px rgba(0, 0, 0, 1);
	-moz-box-shadow:    0px 0px 150px 0px rgba(0, 0, 0, 1);
	box-shadow:         0px 0px 150px 0px rgba(0, 0, 0, 1);
}
.gear-stats .slot.head,
.gear-stats .slot.neck,
.gear-stats .slot.wrists,
.gear-stats .slot.waist,
.gear-stats .slot.feet,
.gear-stats .slot.rightfinger,
.gear-stats .slot.offhand { right: 0; }
.gear-stats .slot.shoulders,
.gear-stats .slot.torso,
.gear-stats .slot.hands,
.gear-stats .slot.legs,
.gear-stats .slot.leftfinger,
.gear-stats .slot.mainhand { left: 0; }
.gear-stats .slot.head { top: 23px; }
.gear-stats .slot.neck { top: 115px; }
.gear-stats .slot.wrists { top: 207px; }
.gear-stats .slot.waist { top: 299px; }
.gear-stats .slot.rightfinger { top: 391px; }
.gear-stats .slot.offhand { top: 483px; }
.gear-stats .slot.feet { top: 575px; }
.gear-stats .slot.shoulders { top: 46px; }
.gear-stats .slot.torso { top: 138px; }
.gear-stats .slot.hands { top: 230px; }
.gear-stats .slot.leftfinger { top: 322px; }
.gear-stats .slot.legs { top: 414px; }
.gear-stats .slot.mainhand { top: 506px; }





.itemname { white-space:nowrap; }
.itemname.normal { color:#CCCCCC; }
.itemname.rare { color:#F8CC35; }
.itemname.legendary { color:#BF642F; }
.itemname.set { color:#8BD442; }

.value {	text-shadow:black 1px 1px; }
.value.rare { color:#F8CC35; }
.value.legendary { color:#C8B278; /*color:#BDA6DB;*/ }
.value.ancient { color:#FFB278; }

.legendary {
	/*color:#C8B278;*/
	color:#BF642F
}
.setitem {
	color:#8BD442;
}
.normalitem {
	color:#CCCCCC;
}

/* itempreview */
.itempreview {
	display:block;
	width:300px;/*336px;*/
	margin:10px 5px 10px 5px; padding:9px;
	border:1px solid #606060;
	background:#171614;
}
.itempreview .d3-icon { float:left; margin:0 10px 10px 0; }
.itempreview .d3-item-name { display:block; margin-bottom:5px; font-size:20px; font-variant:small-caps; }
.itempreview .d3-item-level { display:block; margin-bottom:15px; }
.itempreview .d3-item-properties {  }
.itempreview .itemlocation { color:#FFFF00; }
.itempreview .item-crafted { color:#FFFF00; }
.itempreview .affix-ratio { color:#FFFF00; }
.itempreview .item-jewel-rank { display:none; }

.itemlocation ul { padding-left:20px; list-style-type:disc; }

.itempreview:before, .itempreview:after {
    content: "";
    display: table;
}
.itempreview:after {
    clear: both;
}



/*
	CSS code shared between the D3 Community Site and the Tooltip Script.

	Note: All global styles should be prefixed with d3- to avoid affecting 3rd party sites.
*/

/* item properties (shared between item detail page, item browsing, and item tooltips */
.d3-item-properties ul,
.d3-item-properties div { margin-top: 10px; }
.d3-item-properties ul ul { margin-top: 0; }
.d3-item-properties ul li { margin: 1px 0; }
.d3-item-properties ul li.bump { margin-top: 10px; }
.d3-item-properties p { margin: 0 !important; }
.d3-item-properties .indent { padding-left: 18px; }
.d3-item-properties .value { color: #ded2ab; }
.d3-item-properties .big .value { font-size: 400%; line-height: 100%; font-family: "Palatino Linotype", "Times", serif; text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black; }
.d3-item-properties .item-requirement { color: #A99877 }
.d3-item-properties .d3-color-lightblue .value { color: #99bbff !important; }
.d3-item-properties .d3-color-blue .value { color: #bda6db !important; }
.d3-item-properties .d3-color-gold .value { color: white !important; }
.d3-item-properties .item-property-category { color: #909090; }
.d3-item-properties .item-type,
.d3-item-properties .item-type-right { margin-top: 0; }
.d3-item-properties .item-type-right { float: right; text-align: right; }
.d3-item-properties .item-type { color: white; }
.d3-item-properties .item-slot { color: #909090; }
.d3-item-properties .item-unique-equipped { text-align:left; clear:both }
.d3-item-properties .item-armor-weapon li { color: #909090; }
.d3-item-properties .item-armor-weapon .value { color: white; }
.d3-item-properties .item-before-effects { display: none; }
.d3-item-properties .item-effects li { padding-left: 16px; background: url("../images/icons/primary.gif") 0 3px no-repeat; }
.d3-item-properties .item-effects li.d3-item-property-utility { background: url("../images/icons/utility.gif") 0 3px no-repeat; }
.d3-item-properties .item-effects li.d3-item-property-enchant { background: url("../images/icons/enchant.gif") 0 3px no-repeat; }
.d3-item-properties .item-effects li.secondary { background: url("../images/icons/secondary.gif") 0 3px no-repeat; }
.d3-item-properties .item-effects li.empty-socket { background: url("../images/item/empty-socket.png") 0 center no-repeat; }
.d3-item-properties .item-effects li.full-socket { line-height:18px; min-height:18px; background: none; padding-left:0; padding-top:7px; white-space:nowrap }
.d3-item-properties .item-effects li.full-socket .gem { float:left; width:17px; height:17px; margin-right:4px }
.d3-item-properties .item-effects li.full-socket .socket-effect { padding-left: 16px; background: url("../images/icons/primary.gif") 0px 3px no-repeat; display:inline-block; min-height:18px; line-height:18px; white-space:normal }

/* Item tooltips should more closely match what we see in game */
.d3-item-properties .item-effects .item-property-category { padding-top: 6px; }
.d3-item-properties .item-effects .item-property-category { color: white; }
/* end items overrides */

.d3-item-properties .item-effects .gem-effect { color: white; }
.d3-item-properties .item-effects-choice { margin-bottom: 10px; }

.d3-tooltip-wrapper { background: #1d180e; padding: 1px; border: 1px solid #322a20; max-width: 355px; position: absolute; z-index: 2147483647; border-radius: 2px; box-shadow: 0 0 10px #000; }
.d3-tooltip-wrapper-inner { background: black; }


.d3-tooltip .title,
.d3-tooltip .subtitle { font-family: "Palatino Linotype", "Georgia", "Times", serif; color: #F3E6D0; font-weight: normal; margin-bottom: 6px; }
.ko-kr .d3-tooltip .title,
.ko-kr .d3-tooltip .subtitle { font-family: Dotum; }
.d3-tooltip .title { font-size: 18px; }
.d3-tooltip .subtitle { font-size: 14px; text-transform: uppercase; }
.d3-tooltip .special { color: #AD835A; }
.d3-tooltip .subtle { color: #7B6D55; display: block; }
.d3-tooltip .subtle em { color: #AD835A; font-weight: bold; font-style: normal; }
.d3-tooltip .flavor { font-size: 16px; color: #AD835A; font-family: "Palatino Linotype", "Times", serif; font-style: italic; }
.ko-kr .d3-tooltip .flavor { font-family: Kodia, Dotum; }
.d3-tooltip .tip { border-bottom: 0; }
.d3-tooltip p { margin: 10px 0 0 0; }
.d3-tooltip p:first-child { margin-top: 0; }
.d3-tooltip .loading { display: block; width: 32px; height: 32px; background: url("../images/loaders/default.gif") no-repeat center center; }
.d3-tooltip .wip { position: absolute; z-index: 2; left: 0; top: 33%; width: 350px; text-align: center; font-size: 28px; font-family: "Palatino Linotype", "Georgia", "Times", serif; text-transform: uppercase; color: #A99877; opacity: 0.25; filter: alpha(opacity=25); line-height: 100%; }

	/* style reset */
	.d3-tooltip { padding: 2px; font: normal 12px/1.5 Arial, sans-serif; color: #c7b377; }
	.d3-tooltip * { margin: 0; padding: 0; background: none; }
	.d3-tooltip ul { list-style-type: none; }
	.d3-tooltip .value { color: white; }

	/* head */
	.d3-tooltip .tooltip-head { height: 40px; width: 320px; padding: 0 15px; background: url("../images/ui/tooltip-title.jpg") no-repeat; }
	.d3-tooltip .tooltip-head h3 { color: #F3E6D0; font: 22px "Palatino Linotype", "Times", serif; height: 40px; line-height: 37px; text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
	.ko-kr .d3-tooltip .tooltip-head h3 { font-family: Kodia, Dotum; }

	.d3-tooltip .tooltip-head h3.smaller { font-size: 18px; line-height: 40px; }
	.d3-tooltip .tooltip-head h3.smallest { font-size: 14px; line-height: 42px; }
	.d3-tooltip .tooltip-head-gray,
	.d3-tooltip .tooltip-head-white  { background-position: 0 -40px; }
	.d3-tooltip .tooltip-head-blue   { background-position: 0 -80px; }
	.d3-tooltip .tooltip-head-yellow { background-position: 0 -120px; }
	.d3-tooltip .tooltip-head-orange { background-position: 0 -160px; }
	.d3-tooltip .tooltip-head-purple { background-position: 0 -200px; }
	.d3-tooltip .tooltip-head-green  { background-position: 0 -240px; }

	/* body */
	.d3-tooltip .tooltip-body { position: relative; padding: 10px; }

	/* extension */
	.d3-tooltip .tooltip-extension { margin: 10px -2px 0 -2px; padding: 10px 12px; border-top: 2px solid #322A20; } /* more horizontal padding to make up for negative margin */
	.d3-tooltip .tooltip-extension.rune-extension { padding-left: 87px; min-height: 52px; position: relative; }
	.d3-tooltip .tooltip-extension.rune-extension .d3-icon-rune { position: absolute; top: 10px; left: 20px; }

	/* item tooltips */
	.d3-tooltip-item .d3-icon-item { float: left; margin-right: 10px; margin-bottom: 11px; }

	.d3-tooltip-item .item-armor-weapon { clear: right; }
	.d3-tooltip-item .item-before-effects { display: block !important; clear: both; }
	.d3-tooltip-item .item-description { margin-top: 10px; }
	.d3-tooltip-item .item-itemset { font-size: 12px; }

	.d3-tooltip-item .effect-bg { background-position: 10px 10px; background-repeat: no-repeat; }
	.d3-tooltip-item .effect-bg-arcane { background-image: url("../images/item/effect-bgs/arcane.jpg"); }
	.d3-tooltip-item .effect-bg-cold { background-image: url("../images/item/effect-bgs/cold.jpg"); }
	.d3-tooltip-item .effect-bg-fire { background-image: url("../images/item/effect-bgs/fire.jpg"); }
	.d3-tooltip-item .effect-bg-holy { background-image: url("../images/item/effect-bgs/holy.jpg"); }
	.d3-tooltip-item .effect-bg-lightning { background-image: url("../images/item/effect-bgs/lightning.jpg"); }
	.d3-tooltip-item .effect-bg-poison { background-image: url("../images/item/effect-bgs/poison.jpg"); }
	.d3-tooltip-item .effect-bg-armor { background-image: url("../images/item/effect-bgs/armor.jpg"); background-position: 78px 20px; }
	.d3-tooltip-item .effect-bg-armor-square { background-position: 78px 14px; }
	.d3-tooltip-item .effect-bg-armor-big { background-position: 96px 20px; }
	.d3-tooltip-item .effect-bg .item-type,
	.d3-tooltip-item .effect-bg .item-armor-weapon { text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black; } /* makes the text readable when a background is used */

	/* skill tooltips */
	.d3-tooltip-skill .tooltip-body { padding-left: 85px; }
	.d3-tooltip-skill .d3-icon-skill { position: absolute; left: 10px; top: 10px; }
	.d3-tooltip-skill .value { color: #c7b377 }

	/* trait tooltips */
	.d3-tooltip-trait .tooltip-body { padding-left: 105px; min-height: 80px; }
	.d3-tooltip-trait .d3-icon-trait { position: absolute; left: 10px; top: 10px; }

	/* rune tooltips */
	.d3-tooltip-rune .tooltip-body { padding-left: 60px; }
	.d3-tooltip-rune .d3-icon-rune { position: absolute; left: 10px; top: 10px; }

	/* calculator tooltips */
	.d3-tooltip-calculator { padding: 10px; min-width: 200px; }
	.d3-tooltip-calculator .title { font-size: 22px; line-height: 1em; margin-bottom: 0; }
	.ko-kr .d3-tooltip-calculator .title { font-size: 18px; }
	.d3-tooltip-calculator .subtitle {  }
	.d3-tooltip-calculator .empty { color: #808080; }
	.d3-tooltip-calculator li { position: relative; }
	.d3-tooltip-calculator li:nth-child(even),
	.d3-tooltip-calculator li.row2 { background-color: #101010; }
	.d3-tooltip-calculator .skill-icon { position: absolute; }
	.d3-tooltip-calculator .skill-rune { position: absolute; right: 5px; top: 0; }
	.d3-tooltip-calculator .actives { padding-top: 15px; }
	.d3-tooltip-calculator .actives li { line-height: 24px; padding-left: 26px; padding-right: 35px; }
	.d3-tooltip-calculator .actives .skill-icon { left: 0; top: 2px; }
	.d3-tooltip-calculator .passives { padding-top: 15px; }
	.d3-tooltip-calculator .passives li { line-height: 30px; padding-left: 29px; }
	.d3-tooltip-calculator .passives .skill-icon { left: 0; top: 3px; }

/* icons */
.d3-icon { display: inline-block; overflow: hidden; background: 50% 50% no-repeat; font-size: 1px; }

.d3-icon-item,
.d3-icon-skill { box-shadow: 0 0 5px #000; }

	/* items */
	.d3-icon-item { border: 1px solid black; background: no-repeat 50% 100%; border-radius: 4px; }
	.d3-icon-item .icon-item-gradient { display: block; border-radius: 4px;
		background-image: url("../images/item/icon-bgs/gradient.png"); /* fallback */
		background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
		background-image:    -moz-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
		background-image:     -ms-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
		background-image:      -o-linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
		background-image:         linear-gradient(top, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
	}
	.d3-icon-item .icon-item-inner { display: block; padding: 1px; background: no-repeat center center; font-size: 1px; line-height: normal; text-align: center; border-radius: 4px; overflow: hidden; }
	a:hover .d3-icon-item .icon-item-inner,
	.hover .d3-icon-item .icon-item-inner,
	.icon-active .d3-icon-item .icon-item-inner { background-color: rgba(255, 255, 255, 0.05); } /* brighter */

	.d3-icon-item-large .icon-item-default { width: 64px; height: 128px; }
	.d3-icon-item-large .icon-item-square  { width: 64px; height: 64px; }
	.d3-icon-item-large .icon-item-big     { width: 82px; height: 164px; }

	.d3-icon-item-small .icon-item-default { width: 32px; height: 64px; }
	.d3-icon-item-small .icon-item-square  { width: 32px; height: 32px; }
	.d3-icon-item-small .icon-item-big     { width: 41px; height: 82px; }

	.d3-icon-item-small,
	.d3-icon-item-small .icon-item-gradient,
	.d3-icon-item-small .icon-item-inner,
	.d3-icon-item-32,
	.d3-icon-item-32 .icon-item-gradient,
	.d3-icon-item-32 .icon-item-inner { border-radius: 2px; } /* scale border radius accordingly */

	.d3-icon-item-32 .icon-item-default,
	.d3-icon-item-32 .icon-item-square,
	.d3-icon-item-32 .icon-item-big { width: 32px; height: 32px; }

	.d3-icon-item-64 .icon-item-default,
	.d3-icon-item-64 .icon-item-square,
	.d3-icon-item-64 .icon-item-big { width: 64px; height: 64px; }

		/* gray */
		.d3-icon-item-gray { border-color: #513f2e; background-image: url("../images/item/icon-bgs/brown.png"); background-color: #2a2017; }
		a:hover .d3-icon-item-gray,
		.hover .d3-icon-item-gray,
		.icon-active .d3-icon-item-gray { border-color: #7a5f45; }

		/* white */
		.d3-icon-item-white { border-color: #513f2e; background-image: url("../images/item/icon-bgs/brown.png"); background-color: #2a2017; }
		a:hover .d3-icon-item-white,
		.hover .d3-icon-item-white,
		.icon-active .d3-icon-item-white { border-color: #7a5f45; }

		/* blue */
		.d3-icon-item-blue { border-color: #6091a6; background-image: url("../images/item/icon-bgs/blue.png"); background-color: #232227; }
		a:hover .d3-icon-item-blue,
		.hover .d3-icon-item-blue,
		.icon-active .d3-icon-item-blue { border-color: #90c8d3; }

		/* yellow */
		.d3-icon-item-yellow { border-color: #9b8e3c; background-image: url("../images/item/icon-bgs/yellow.png"); background-color: #322914; }
		a:hover .d3-icon-item-yellow,
		.hover .d3-icon-item-yellow,
		.icon-active .d3-icon-item-yellow { border-color: #cdc75a; }

		/* orange */
		.d3-icon-item-orange { border-color: #b07b38; background-image: url("../images/item/icon-bgs/orange.png"); background-color: #332314; }
		a:hover .d3-icon-item-orange,
		.hover .d3-icon-item-orange,
		.icon-active .d3-icon-item-orange { border-color: #d8b954; }

		/* green */
		.d3-icon-item-green { border-color: #748e3d; background-image: url("../images/item/icon-bgs/green.png"); background-color: #262f14; }
		a:hover .d3-icon-item-green,
		.hover .d3-icon-item-green,
		.icon-active .d3-icon-item-green { border-color: #aec75c; }


	/* skills */
	.d3-icon-skill { }
	.d3-icon-skill .frame { display: block; background: no-repeat; }
	.d3-icon-skill-21,
	.d3-icon-skill-21 .frame { width: 21px; height: 21px; }
	.d3-icon-skill-42,
	.d3-icon-skill-42 .frame { width: 42px; height: 42px; }
	.d3-icon-skill-64,
	.d3-icon-skill-64 .frame { width: 64px; height: 64px; }
	.d3-icon-skill-21 .frame { background-image: url("../images/icons/frames/skill-21.png"); }
	.d3-icon-skill-42 .frame { background-image: url("../images/icons/frames/skill-42.png"); }
	.d3-icon-skill-64 .frame { background-image: url("../images/icons/frames/skill-64.png"); }
	.d3-icon-skill.selected .frame { background-position: top right; }

	a:hover .d3-icon-skill .frame,
	.hover .d3-icon-skill .frame { background-position: left bottom; }
	a:hover .d3-icon-skill.selected .frame,
	.hover .d3-icon-skill.selected .frame { background-position: right bottom; }

	a.disabled:hover .d3-icon-skill .frame,
	.disabled.hover .d3-icon-skill .frame { background-position: left top !important; }
	a.disabled:hover .d3-icon-skill.selected .frame,
	.disabled.hover .d3-icon-skill.selected .frame { background-position: right top !important; }

	/* traits */
	.d3-icon-trait { }
	.d3-icon-trait .frame { display: block; background: no-repeat; }
	.d3-icon-trait-21,
	.d3-icon-trait-21 .frame { width: 25px !important; height: 25px !important; }
	.d3-icon-trait-42,
	.d3-icon-trait-42 .frame { width: 51px !important; height: 51px !important; }
	.d3-icon-trait-64,
	.d3-icon-trait-64 .frame { width: 81px !important; height: 81px !important; }
	.d3-icon-trait-21 .frame { background-image: url("../images/icons/frames/trait-21.png"); }
	.d3-icon-trait-42 .frame { background-image: url("../images/icons/frames/trait-42.png"); }
	.d3-icon-trait-64 .frame { background-image: url("../images/icons/frames/trait-64.png"); }
	.d3-icon-trait.selected .frame { background-position: top right; }

	a:hover .d3-icon-trait .frame,
	.hover .d3-icon-trait .frame { background-position: left bottom; }
	a:hover .d3-icon-trait.selected .frame,
	.hover .d3-icon-trait.selected .frame { background-position: right bottom; }

	a.disabled:hover .d3-icon-trait .frame,
	.disabled.hover .d3-icon-trait .frame { background-position: left top !important; }
	a.disabled:hover .d3-icon-trait.selected .frame,
	.disabled.hover .d3-icon-trait.selected .frame { background-position: right top !important; }

	.d3-icon-trait.circle,
	.d3-icon-trait.circle .frame { width: 64px !important; height: 64px !important; }
	.d3-icon-trait.circle .frame { background-image: url("../images/icons/frames/trait-circle.png"); }

	/* runes */
	.d3-icon-rune { vertical-align: middle; }
	.d3-icon-rune span { display: block; vertical-align: top; background: no-repeat; }

	.d3-icon-rune-large span { width: 50px; height: 50px; background-image: url("../images/icons/runes/large.png"); }
	.d3-icon-rune-large .rune-a { background-position: 0 0; }
	.d3-icon-rune-large .rune-b { background-position: -50px 0; }
	.d3-icon-rune-large .rune-c { background-position: -100px 0; }
	.d3-icon-rune-large .rune-d { background-position: -150px 0; }
	.d3-icon-rune-large .rune-e { background-position: -200px 0; }
	.d3-icon-rune-large .rune-none { background-position: -250px 0; }

	.d3-icon-rune-medium span { width: 42px; height: 42px; background-image: url("../images/icons/runes/medium.png"); }
	.d3-icon-rune-medium .rune-a { background-position: 0 0; }
	.d3-icon-rune-medium .rune-b { background-position: -42px 0; }
	.d3-icon-rune-medium .rune-c { background-position: -84px 0; }
	.d3-icon-rune-medium .rune-d { background-position: -126px 0; }
	.d3-icon-rune-medium .rune-e { background-position: -168px 0; }
	.d3-icon-rune-medium .rune-none { background-position: -210px 0; }

	.d3-icon-rune-small span { width: 16px; height: 16px; background-image: url("../images/icons/runes/small.png"); }
	.d3-icon-rune-small .rune-a { background-position: 0 0; }
	.d3-icon-rune-small .rune-b { background-position: -16px 0; }
	.d3-icon-rune-small .rune-c { background-position: -32px 0; }
	.d3-icon-rune-small .rune-d { background-position: -48px 0; }
	.d3-icon-rune-small .rune-e { background-position: -64px 0; }
	.d3-icon-rune-small .rune-none { background-position: -80px 0; }

/* colors */

	/* general */
	.d3-color-default, .d3-color-default a { color: #fff !important; }
	.d3-color-blue, .d3-color-blue a { color: #6969ff !important; }
	.d3-color-gray, .d3-color-gray a { color: #909090 !important; }
	.d3-color-gold, .d3-color-gold a { color: #c7b377 !important; }
	.d3-color-green, .d3-color-green a { color: #00ff00 !important; }
	.d3-color-orange, .d3-color-orange a { color: #bf642f !important; }
	.d3-color-purple, .d3-color-purple a { color: #a335ee !important; }
	.d3-color-red, .d3-color-red a { color: #ff0000 !important; }
	.d3-color-white, .d3-color-white a { color: #fff !important; }
	.d3-color-yellow, .d3-color-yellow a { color: #ffff00 !important; }

	a.d3-color-blue:hover, .d3-color-blue a:hover, a:hover .d3-color-blue,
	a.d3-color-gray:hover, .d3-color-gray a:hover, a:hover .d3-color-gray,
	a.d3-color-gold:hover, .d3-color-gold a:hover, a:hover .d3-color-gold,
	a.d3-color-green:hover, .d3-color-green a:hover, a:hover .d3-color-green,
	a.d3-color-orange:hover, .d3-color-orange a:hover, a:hover .d3-color-orange,
	a.d3-color-purple:hover, .d3-color-purple a:hover, a:hover .d3-color-purple,
	a.d3-color-red:hover, .d3-color-red a:hover, a:hover .d3-color-red,
	a.d3-color-white:hover, .d3-color-white a:hover, a:hover .d3-color-white,
	a.d3-color-yellow:hover, .d3-color-yellow a:hover a:hover .d3-color-yellow { color: #fff !important; }

	/* runes */
	.d3-color-rune { color: #F3E6D0 !important; }
	.d3-color-rune-a { color: #e52817 !important; }
	.d3-color-rune-b { color: #6e7ee5 !important; }
	.d3-color-rune-c { color: #948b91 !important; }
	.d3-color-rune-d { color: #fa8b14 !important; }
	.d3-color-rune-e { color: #f7e9b7 !important; }

.d3-debug { display: none; }
.tooltip-icon-bullet { display: inline-block; width: 8px; height: 8px; margin-right: 2px; vertical-align: middle; background: url("../images/icons/bullet.gif") no-repeat; }